/* 搜索框 */
.lt_search {
   padding: 10px;
   position: relative;
}

.lt_search input {
   height: 34px;
   padding-right: 54px;
   border: 1px solid #007AFF;
   border-radius: 5px;
   font-size: 12px;
   margin: 0;
}

.lt_search button {
   position: absolute;
   width: 54px;
   height: 34px;
   right: 10px;
   top: 10px;
   border-radius: 0 5px 5px 0;
}

/* 排序部分 */
.lt_sort {
   background-color: #EEEEEE;
}

.lt_sort li {
   float: left;
   width: 25%;
   height: 30px;
   font-size: 12px;
}

.lt_sort li a {
   display: block;
   height: 100%;
   width: 100%;
   line-height: 30px;
   text-align: center;
   color: #666;
}