/* 历史记录 */
.lt_history {
   padding: 10px;
   font-size: 12px;
}

.lt_history .title {
   height: 30px;
   line-height: 30px;
   color: #666;
}

.lt_history .info ul {
   border: 1px dashed blueviolet;
}

.lt_history .info li {
   height: 30px;
   line-height: 30px;
   border-bottom: 1px dashed blueviolet;
}

.lt_history .info li:last-of-type {
   border-bottom: none;
}

.lt_history .info li a {
   padding: 0 10px;
   color: darkslateblue;
}

.lt_history .info li i {
   line-height: 30px;
}